<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>CenterCode</th>
      <th>01</th>
      <th>02</th>
      <th>03</th>
      <th>05</th>
      <th>06</th>
      <th>07</th>
      <th>08</th>
      <th>09</th>
      <th>10</th>
      <th>CenterCode</th>
      <th>All</th>
    </tr>
    <tr>
      <th>Language</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Bengali</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>49</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>49</td>
    </tr>
    <tr>
      <th>English</th>
      <td>0</td>
      <td>0</td>
      <td>19</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>17</td>
      <td>44</td>
      <td>0</td>
      <td>81</td>
    </tr>
    <tr>
      <th>Gujarati</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>58</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>58</td>
    </tr>
    <tr>
      <th>Hindi</th>
      <td>29</td>
      <td>43</td>
      <td>46</td>
      <td>15</td>
      <td>0</td>
      <td>0</td>
      <td>14</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>147</td>
    </tr>
    <tr>
      <th>Language</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Marathi</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>57</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>57</td>
    </tr>
    <tr>
      <th>Tamil</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>51</td>
      <td>0</td>
      <td>0</td>
      <td>51</td>
    </tr>
    <tr>
      <th>All</th>
      <td>29</td>
      <td>43</td>
      <td>65</td>
      <td>73</td>
      <td>57</td>
      <td>49</td>
      <td>15</td>
      <td>68</td>
      <td>44</td>
      <td>1</td>
      <td>444</td>
    </tr>
  </tbody>
</table><button onclick ="window.location.href=`/down_file_transpose`">Download File</button>