<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Language</th>
      <th>Bengali</th>
      <th>English</th>
      <th>Gujarati</th>
      <th>Hindi</th>
      <th>Language</th>
      <th>Marathi</th>
      <th>Tamil</th>
      <th>All</th>
    </tr>
    <tr>
      <th>SWVersion</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1.0.0.T1</th>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1.0.0.T2</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1.0.0.T3</th>
      <td>49</td>
      <td>78</td>
      <td>58</td>
      <td>147</td>
      <td>0</td>
      <td>57</td>
      <td>51</td>
      <td>440</td>
    </tr>
    <tr>
      <th>SWVersion</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>All</th>
      <td>49</td>
      <td>81</td>
      <td>58</td>
      <td>147</td>
      <td>1</td>
      <td>57</td>
      <td>51</td>
      <td>444</td>
    </tr>
  </tbody>
</table><button onclick ="window.location.href=`/down_file`">Download File</button><button onclick ="window.location.href=`/transpose`">Transpose</button>